header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: #779de0;
}
body{
  background-color: #A9CCE3;
}

/* Style for the left side (logo and name) */

.logo-name {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    /* Replace with your logo image URL */
    background-image: url("rec.png");
    background-size: cover;
    background-position: center;
}

.webname {
    font-weight: bold;
    margin-left: 1rem;
  font-size: 30px;
}


/* Style for the right side (navigation) */

nav {
    display: flex;
}

nav a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

#Nirf{
    transition-duration: 0.4s;
    height: 35px;
    width: 80px;
    border-radius: 10px;
    color: black;
    background-color: #779de0;
    border: none;
}

#Nirf:hover {
    background-color: #e0e0e0;
    /* Green */
}

nav a:hover {
    background-color: #e0e0e0;
}


/* Style for icons (adjust as needed) */

.icon {
    width: 20px;
    height: 20px;
    margin-left: 1rem;
    /* Replace with your notification icon URL */
    background-image: url("noticon.png");
    background-size: cover;
    background-position: center;
    transition: filter 0.45s cubic-bezier(0.3, 0.4, 0.1, 1), opacity 0.45s cubic-bezier(0.3, 0.4, 0.1, 1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.55;
}

.icon:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}


.navbar {
    overflow: hidden;
    background-color: #779de0;
    /*border-radius: 10px;*/
}

.navbar .dropdown {
    float: left;
    overflow: hidden;
}


.navbar .dropdown .dropbtn {
    border-radius: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar .dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* styles.css */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: center;
  border-radius: 50px;
}

.mySlides {
  display: none;
}

.fade {
  -webkit-animation: fade 1.5s;
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.impevent{
  width:100%;
  height: 80px;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  
}


.impi{
  text-align: center;
}

#gou1{
  height: 500px;
  width: 49%;
  background-color: whitesmoke;
  float: left;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.right {
  position: absolute;
  right: 0;
  height: 740px;
  width: 49%;
  float: left;
  padding: 2px;
  border-radius: 7px;
}

#gou3{
  height: 20px;
  width: 20px;
  background-color: red;
  margin-top: 5px;
  border-radius: 7px;
  display: inline;
}

.container {
            display: flex;
        }
        .right {
            width: 49%;
            
            border-radius: 10px;
        }
        .left {
            display: flex;
            width:49%;
            flex-direction: column;
        }
        .existing-div {
            background-color: lightgray; /* Example style for existing div */
            padding: 10px;
            border-radius: 10px;
            height: 330px;
        }
          .existing-div2 {
            background-color: lightgray; /* Example style for existing div */
            padding: 10px;
            margin-top: 10px;
            border-radius: 10px;
            height: 500px;
        }
        .new-div2 {
            margin-top: 0px; /* 5px distance between divs */
            background-color: whitesmoke;
            padding: 10px;
            border-radius: 10px;
            height: 200px;
        }
        .new-div {
            margin-top: 10px; /* 5px distance between divs */
            background-color: whitesmoke;
            padding: 10px;
            border-radius: 10px;
            height: 430px;
        }
.footer{
  margin:10px;
  background-color: gray;
  height: 150px;
  width:100%;
  bottom: 0;
  margin-left: 0;
  text-align: center;
  
}


.pripho{
  text-align: center;
}
.priname{
  text-align: center;
  position: relative;
  top:0;
  font-size: 25px;
  text-decoration: underline;
}
.imgi{
  border:2px solid #555;
  border-radius: 3px;
}

.msg{
  text-align: center;
}

body {
    font-family: Arial, sans-serif;
}


.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Added to ensure the popup is on top */
}

.popup-content {
    position: absolute; /* Added to position close button inside the popup */
    background-color: #fff;
    top: 0;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    text-align: center;
    z-index: 1001; /* Added to ensure the popup content is on top of the overlay */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}



